@model FiveBrother.Models.CUser


@{
    ViewData["Title"] = "Details";
}
@{await Html.RenderPartialAsync("_LayoutAdmin");}
<div class="container-fluid py-4">
    <form asp-action="Delete">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p class="text-uppercase text-sm">Details</p>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">FirstName</label>
                                    <input class="form-control" type="text" asp-for="FirstName">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">LastName</label>
                                    <input class="form-control" type="text" asp-for="LastName">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Email</label>
                                    <input class="form-control" type="text" asp-for="Email">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Phone</label>
                                    <input class="form-control" type="text" asp-for="Phone">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Birthday</label>
                                    <input class="form-control" type="text" asp-for="Birthday">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Gender</label>
                                    <input class="form-control" type="text" asp-for="Gender">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Departments Name</label>
                                    <input class="form-control" type="text" asp-for="Departments.Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <a class="btn btn-success btn-sm ms-auto col-md-5" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <a class="btn btn-danger btn-sm ms-auto col-md-5 " asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
